<a href="https://colab.research.google.com/github/josingler/GDA/blob/main/423237.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We have provided a comma-separated file with this package which includes about **3700** instances with **18** **integer** and **real** attributes. 

The data in the file have 1 record per line. The target feature (**“Revenue”**) is the last feature (column) in each line. Your task is to do some preprocessing steps as described below and to measure the accuracy of different machine learning methods on predicting the target variable according to the steps that are described below. Note that there is only a single target variable for each record. 

The dataset consists of **10** numerical, **7** categorical attributes and one target feature (classification label). 

**Numerical** features include: 

* Administrative
* Administrative_Duration
* Informational
* Informational_Duration
* ProductRelated
* ProductRelated_Duration
* BounceRates
* ExitRates
* PageValues
* SpecialDay

Also, the **categorical** features include:

* Month
* OperatingSystems
* Browser
* Region
* TrafficType
* VisitorType
* Weekend

Each of the tasks below will be evaluated independently of the others, so you must send us your results (code and output, if applicable) from each step at the end. The processing is done with Python 3. Please send us the code and the respective output in one file (the downloaded Jupyter Notebook). If you do not send us the code for a step and, where required, an output, the step will be considered as not processed.

**In some steps you are asked to output the head of a dataframe. Then you have to output the complete header (column names) of the data frame and the first 3 rows (data records).**

# Please run the followig piece of code to load the dataset into the **"dataset"** variable. You can use and manipulate data using this object
# Then, Carry out the following steps with the provided data and document the number of each step in a python comment:

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', 25)
pd.set_option('display.width', 1000)

url = "https://raw.githubusercontent.com/AIDATestsecond/dataset/master/Dataset_423237.csv"
dataset = pd.read_csv(url)
print (dataset)

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0                  1                21.250000              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False
1                  2                28.200000              1                     0.0             114              3161.074762     0.017699   0.042576    0.000000         0.0   Aug                 2        2       2            1  Returning_Visitor    False    False
2                  3               143.000000              0                     0.0              17               331.837500     0.033333   0.051235    0.000000         0.0   Dec                 2        2       1            1  Returning_Visitor     True    False
3                  1                25.500000              0                     0.0              43               914.229437     0.013636   0.025763         NaN         NaN   Nov                 1        1       1            1  Returning_Visitor    False    False
4                  5                46.520000              0                     0.0             133              2248.914286     0.012078   0.029350    6.373771         0.0   Jul                 1        1       1            4  Returning_Visitor    False     True
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...         ...   ...               ...      ...     ...          ...                ...      ...      ...
3694               3                65.928571              0                     0.0              17               557.686905     0.000000   0.009804         NaN         0.0   Dec                 2        2       2            2  Returning_Visitor    False     True
3695               0                 0.000000              0                     0.0              52              2086.242857     0.015385   0.020353    0.000000         0.0   Feb                 2        2       7            1  Returning_Visitor    False    False
3696               1                63.500000              0                     0.0               7                58.900000     0.000000   0.025000    0.000000         0.0   Dec                 1        1       2            2        New_Visitor    False    False
3697               6                90.100000              0                     0.0              35               643.050000     0.000000   0.015789    0.000000         0.0   Oct                 1        1       3            4  Returning_Visitor     True    False
3698               0                 0.000000              0                     NaN               3                73.000000     0.000000   0.066667    0.000000         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

[3699 rows x 18 columns]

# 1.   Print out the head name of features.

In [ ]:
print(dataset.columns.values)

['Administrative' 'Administrative_Duration' 'Informational'
 'Informational_Duration' 'ProductRelated' 'ProductRelated_Duration'
 'BounceRates' 'ExitRates' 'PageValues' 'SpecialDay' 'Month'
 'OperatingSystems' 'Browser' 'Region' 'TrafficType' 'VisitorType'
 'Weekend' 'Revenue']

# 2.   Print out the first and last rows of the dataset.

In [ ]:
ds = dataset.iloc[[0,-1]]
print (ds)

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0                  1                    21.25              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False
3698               0                     0.00              0                     NaN               3                73.000000     0.000000   0.066667    0.000000         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

# 3.   Check if there is any missing value in the data. Here it is sufficient to specify the code, output is not necessary.

In [ ]:
dataset.isnull().sum()

Administrative               0
Administrative_Duration      0
Informational                0
Informational_Duration     206
ProductRelated               0
ProductRelated_Duration    200
BounceRates                171
ExitRates                  182
PageValues                 161
SpecialDay                 190
Month                        0
OperatingSystems             0
Browser                      0
Region                       0
TrafficType                  0
VisitorType                  0
Weekend                      0
Revenue                      0
dtype: int64

# 4.   Exchange the positions of the **10th** and **11th** column with each other. Then output the header of the dataframes.

In [ ]:
print(dataset)
colu_List = dataset.columns.to_list()
pos10 = colu_List[9]
pos11 = colu_List[10]
colu_List[9] = pos11
colu_List[10] = pos10
#print(colu_List)
dataset = dataset[colu_List]

print(dataset)

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0                  1                21.250000              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False
1                  2                28.200000              1                     0.0             114              3161.074762     0.017699   0.042576    0.000000         0.0   Aug                 2        2       2            1  Returning_Visitor    False    False
2                  3               143.000000              0                     0.0              17               331.837500     0.033333   0.051235    0.000000         0.0   Dec                 2        2       1            1  Returning_Visitor     True    False
3                  1                25.500000              0                     0.0              43               914.229437     0.013636   0.025763         NaN         NaN   Nov                 1        1       1            1  Returning_Visitor    False    False
4                  5                46.520000              0                     0.0             133              2248.914286     0.012078   0.029350    6.373771         0.0   Jul                 1        1       1            4  Returning_Visitor    False     True
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...         ...   ...               ...      ...     ...          ...                ...      ...      ...
3694               3                65.928571              0                     0.0              17               557.686905     0.000000   0.009804         NaN         0.0   Dec                 2        2       2            2  Returning_Visitor    False     True
3695               0                 0.000000              0                     0.0              52              2086.242857     0.015385   0.020353    0.000000         0.0   Feb                 2        2       7            1  Returning_Visitor    False    False
3696               1                63.500000              0                     0.0               7                58.900000     0.000000   0.025000    0.000000         0.0   Dec                 1        1       2            2        New_Visitor    False    False
3697               6                90.100000              0                     0.0              35               643.050000     0.000000   0.015789    0.000000         0.0   Oct                 1        1       3            4  Returning_Visitor     True    False
3698               0                 0.000000              0                     NaN               3                73.000000     0.000000   0.066667    0.000000         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

[3699 rows x 18 columns]
      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues Month  SpecialDay  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0                  1                21.250000              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911   Nov         0.0                 2        2       3            2  Returning_Visitor     True    False
1                  2                28.200000              1                     0.0             114              3161.074762     0.017699   0.042576    0.000000   Aug         0.0                 2        2       2            1  Returning_Visitor    False    False
2                  3               143.000000              0                     0.0              17               331.837500     0.033333   0.051235    0.000000   Dec         0.0                 2        2       1            1  Returning_Visitor     True    False
3                  1                25.500000              0                     0.0              43               914.229437     0.013636   0.025763         NaN   Nov         NaN                 1        1       1            1  Returning_Visitor    False    False
4                  5                46.520000              0                     0.0             133              2248.914286     0.012078   0.029350    6.373771   Jul         0.0                 1        1       1            4  Returning_Visitor    False     True
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...   ...         ...               ...      ...     ...          ...                ...      ...      ...
3694               3                65.928571              0                     0.0              17               557.686905     0.000000   0.009804         NaN   Dec         0.0                 2        2       2            2  Returning_Visitor    False     True
3695               0                 0.000000              0                     0.0              52              2086.242857     0.015385   0.020353    0.000000   Feb         0.0                 2        2       7            1  Returning_Visitor    False    False
3696               1                63.500000              0                     0.0               7                58.900000     0.000000   0.025000    0.000000   Dec         0.0                 1        1       2            2        New_Visitor    False    False
3697               6                90.100000              0                     0.0              35               643.050000     0.000000   0.015789    0.000000   Oct         0.0                 1        1       3            4  Returning_Visitor     True    False
3698               0                 0.000000              0                     NaN               3                73.000000     0.000000   0.066667    0.000000   Mar         0.0                 2        4       1            7  Returning_Visitor    False    False

[3699 rows x 18 columns]

# 5.   Change the name of "**VisitorType**" feature to "**new_VisitorType**".

In [ ]:
dataset = dataset.rename(columns={'VisitorType': 'new_VisitorType'})
print(dataset.columns.values)

['Administrative' 'Administrative_Duration' 'Informational'
 'Informational_Duration' 'ProductRelated' 'ProductRelated_Duration'
 'BounceRates' 'ExitRates' 'PageValues' 'Month' 'SpecialDay'
 'OperatingSystems' 'Browser' 'Region' 'TrafficType' 'new_VisitorType'
 'Weekend' 'Revenue']

# 6.   Print out the row index of the cell with the highest **“ProductRelated_Duration”** value.

In [ ]:
dataset[dataset['ProductRelated_Duration']==dataset['ProductRelated_Duration'].max()]
#dataset[dataset['ProductRelated_Duration'].max()].index
#dataset[dataset['ProductRelated_Duration']==dataset['ProductRelated_Duration'].max()]

Int64Index([836], dtype='int64')

# 7.   Please remove the **“Informational”** feature from the dataset. Then output the header of the dataframe.

In [ ]:
del dataset["Informational"]
dataset.head()

   Administrative  Administrative_Duration  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues Month  SpecialDay  OperatingSystems  Browser  Region  TrafficType    new_VisitorType  Weekend  Revenue
0               1                    21.25                     0.0              92              2716.519048     0.006738   0.037885   23.738911   Nov         0.0                 2        2       3            2  Returning_Visitor     True    False
1               2                    28.20                     0.0             114              3161.074762     0.017699   0.042576    0.000000   Aug         0.0                 2        2       2            1  Returning_Visitor    False    False
2               3                   143.00                     0.0              17               331.837500     0.033333   0.051235    0.000000   Dec         0.0                 2        2       1            1  Returning_Visitor     True    False
3               1                    25.50                     0.0              43               914.229437     0.013636   0.025763         NaN   Nov         NaN                 1        1       1            1  Returning_Visitor    False    False
4               5                    46.52                     0.0             133              2248.914286     0.012078   0.029350    6.373771   Jul         0.0                 1        1       1            4  Returning_Visitor    False     True

# 8.   Print out the first and third quantile of **“PageValues”** feature.

In [ ]:
print(dataset.describe()[dataset.describe().index == "25%"]['PageValues'])
print(dataset.describe()[dataset.describe().index == "75%"]['PageValues'])

25%    0.0
Name: PageValues, dtype: float64
75%    0.0
Name: PageValues, dtype: float64

# 9.   Output the number of missing values in each column.

In [ ]:
len(dataset)

Administrative               0
Administrative_Duration      0
Informational_Duration     206
ProductRelated               0
ProductRelated_Duration    200
BounceRates                171
ExitRates                  182
PageValues                 161
Month                        0
SpecialDay                 190
OperatingSystems             0
Browser                      0
Region                       0
TrafficType                  0
new_VisitorType              0
Weekend                      0
Revenue                      0
dtype: int64

# 10.   From the dataset, filter every 250th row in the data for the features **“Month”**, **“ExitRates”** and **“SpecialDay”**, starting from row 0.

In [ ]:
ds_length = len(dataset)
frequency = 249
loopies = ds_length/frequency
loopint = int(loopies)

for i in range(0, loopint):
  row = dataset.loc[i*frequency, ['Month', 'ExitRates', 'SpecialDay']]
  print(row)

Month               Nov
ExitRates     0.0378853
SpecialDay            0
Name: 0, dtype: object
Month               Jul
ExitRates     0.0378021
SpecialDay            0
Name: 249, dtype: object
Month              Aug
ExitRates     0.029987
SpecialDay           0
Name: 498, dtype: object
Month               Mar
ExitRates     0.0115152
SpecialDay            0
Name: 747, dtype: object
Month                Dec
ExitRates     0.00909091
SpecialDay           NaN
Name: 996, dtype: object
Month               Aug
ExitRates     0.0166667
SpecialDay            0
Name: 1245, dtype: object
Month          Dec
ExitRates     0.08
SpecialDay       0
Name: 1494, dtype: object
Month         May
ExitRates     NaN
SpecialDay      0
Name: 1743, dtype: object
Month         Mar
ExitRates     NaN
SpecialDay      0
Name: 1992, dtype: object
Month               Mar
ExitRates     0.0181548
SpecialDay            0
Name: 2241, dtype: object
Month               Nov
ExitRates     0.0159204
SpecialDay            0
Name: 2490, dtype: object
Month              Oct
ExitRates     0.031102
SpecialDay           0
Name: 2739, dtype: object
Month               Nov
ExitRates     0.0242741
SpecialDay            0
Name: 2988, dtype: object
Month               Aug
ExitRates     0.0285714
SpecialDay            0
Name: 3237, dtype: object

# 11.   Scales and transfer the values of all of the numerical features in the range of 0 to 5, using min-max normalization method. Then output the first 10 lines of the dataframe.

In [ ]:
import numpy as np
from sklearn import preprocessing

float_arr = dataset.select_dtypes(include = np.number).values.astype(float)
min_max_scale = preprocessing.MinMaxScaler()
scaled = min_max_scale.fit_transform(float_arr)
min_max_scaled_df = pd.DataFrame(scaled)
min_max_scaled_df.head()

         0         1    2         3         4         5         6         7    8         9         10     11        12
0  0.043478  0.009943  0.0  0.209091  0.149491  0.033688  0.189426  0.065620  0.0  0.142857  0.083333  0.250  0.052632
1  0.086957  0.013195  0.0  0.259091  0.173955  0.088496  0.212881  0.000000  0.0  0.142857  0.083333  0.125  0.000000
2  0.130435  0.066913  0.0  0.038636  0.018261  0.166667  0.256173  0.000000  0.0  0.142857  0.083333  0.000  0.000000
3  0.043478  0.011932  0.0  0.097727  0.050310  0.068182  0.128815       NaN  NaN  0.000000  0.000000  0.000  0.000000
4  0.217391  0.021768  0.0  0.302273  0.123759  0.060390  0.146748  0.017619  0.0  0.000000  0.000000  0.000  0.157895

# 12.   Print out the head name and variance of the numerical feature with highest variance

In [ ]:
print(dataset.var().max())
print(dataset.var())

3053636.702971079
Administrative             1.162855e+01
Administrative_Duration    2.907426e+04
Informational_Duration     2.353986e+04
ProductRelated             1.906929e+03
ProductRelated_Duration    3.053637e+06
BounceRates                2.362684e-03
ExitRates                  2.339703e-03
PageValues                 3.776060e+02
SpecialDay                 4.270110e-02
OperatingSystems           8.640598e-01
Browser                    2.779338e+00
Region                     5.682096e+00
TrafficType                1.633120e+01
Weekend                    1.780548e-01
Revenue                    1.362971e-01
dtype: float64

# 13.   Use the “apply” function (or an equivalent function) to replace missing values in the columns "**Informational_Duration**" and "**ProductRelated_Duration**" with the **mean value** of the respective  attribute.

# 14.   Print out the index of rows where values of **“OperatingSystems”**, **“Browser”** and **“TrafficType”** columns match.

# 15.   Calculate and output the value of the correlation between the   "**Informational_Duration**" and "**ProductRelated_Duration**" features.

# 16.   In the **“Browser”** feature, keep only top 4 most frequent values as it is and replace the other values with the ***“Other”*** label.

# 17.   Compute and print out the mean of **“BounceRates”** of each **“Month”**.

# 18.   Print out all of the instances with **“BounceRates”** values greater than **“ProductRelated_Duration”**.

# 19.   Please plot the boxplot graph of all numerical features.

# 20.   Since the provided data is imbalanced, use upsampling approach to make it balanced.

# 21.   Use 3 different classification approaches to estimate the target characteristic ("**revenue**") from the pre-processed data. Use a 5-fold cross-validation for each of these approaches. The output is described in the next step.

#22.  Output the confusion matrix of the results from **step 21** and the values for the F1 measure of the trained classifiers.