In [1]:
import pandas as pd
pd.set_option('display.max_columns', 25)
pd.set_option('display.width', 1000)

#url = "https://raw.githubusercontent.com/AIDATestsecond/dataset/master/Dataset_423237.csv"
# führt in Chrome zu URLError: <urlopen error [Errno 11002] getaddrinfo failed>
# deshalb csv per firefox lokal gespeichert

import os
pfad = r"C:\Users\A1150567\AppData\Local\WPy64-3940\notebooks\GDA\GDA"
csv_dat = "Dataset_423237.csv"
csv = os.path.join(pfad, csv_dat)
df = pd.read_csv(csv)
#print (dataset)
df.head()

   Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0               1                    21.25              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False
1               2                    28.20              1                     0.0             114              3161.074762     0.017699   0.042576    0.000000         0.0   Aug                 2        2       2            1  Returning_Visitor    False    False
2               3                   143.00              0                     0.0              17               331.837500     0.033333   0.051235    0.000000         0.0   Dec                 2        2       1            1  Returning_Visitor     True    False
3               1                    25.50              0                     0.0              43               914.229437     0.013636   0.025763         NaN         NaN   Nov                 1        1       1            1  Returning_Visitor    False    False
4               5                    46.52              0                     0.0             133              2248.914286     0.012078   0.029350    6.373771         0.0   Jul                 1        1       1            4  Returning_Visitor    False     True

In [2]:
print(df.columns.values)

['Administrative' 'Administrative_Duration' 'Informational'
 'Informational_Duration' 'ProductRelated' 'ProductRelated_Duration'
 'BounceRates' 'ExitRates' 'PageValues' 'SpecialDay' 'Month'
 'OperatingSystems' 'Browser' 'Region' 'TrafficType' 'VisitorType'
 'Weekend' 'Revenue']

In [3]:
df.head(1)

   Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0               1                    21.25              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False

In [4]:
print(df.tail(1))

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
3698               0                      0.0              0                     NaN               3                     73.0          0.0   0.066667         0.0         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

In [5]:
df.tail()

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
3694               3                65.928571              0                     0.0              17               557.686905     0.000000   0.009804         NaN         0.0   Dec                 2        2       2            2  Returning_Visitor    False     True
3695               0                 0.000000              0                     0.0              52              2086.242857     0.015385   0.020353         0.0         0.0   Feb                 2        2       7            1  Returning_Visitor    False    False
3696               1                63.500000              0                     0.0               7                58.900000     0.000000   0.025000         0.0         0.0   Dec                 1        1       2            2        New_Visitor    False    False
3697               6                90.100000              0                     0.0              35               643.050000     0.000000   0.015789         0.0         0.0   Oct                 1        1       3            4  Returning_Visitor     True    False
3698               0                 0.000000              0                     NaN               3                73.000000     0.000000   0.066667         0.0         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

In [6]:
df.shape

(3699, 18)

In [7]:
df.iloc[[0, -1], :]

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0                  1                    21.25              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False
3698               0                     0.00              0                     NaN               3                73.000000     0.000000   0.066667    0.000000         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

In [8]:
any(df.isna())

True

In [9]:
df.isnull()

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay  Month  OperatingSystems  Browser  Region  TrafficType  VisitorType  Weekend  Revenue
0              False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
1              False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
2              False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
3              False                    False          False                   False           False                    False        False      False        True        True  False             False    False   False        False        False    False    False
4              False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...         ...    ...               ...      ...     ...          ...          ...      ...      ...
3694           False                    False          False                   False           False                    False        False      False        True       False  False             False    False   False        False        False    False    False
3695           False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
3696           False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
3697           False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
3698           False                    False          False                    True           False                    False        False      False       False       False  False             False    False   False        False        False    False    False

[3699 rows x 18 columns]

In [10]:
df[df.isnull()]

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType VisitorType  Weekend  Revenue
0                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
1                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
2                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
4                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...         ...   ...               ...      ...     ...          ...         ...      ...      ...
3694             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3695             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3696             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3697             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3698             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN

[3699 rows x 18 columns]

In [11]:
df[df.isnull()].shape

(3699, 18)

In [12]:
type(df.isnull())

pandas.core.frame.DataFrame

In [13]:
dataset.isnull()

NameError: name 'dataset' is not defined

In [ ]:
dataset.isnull().sum()

In [ ]:
import numpy as np
np.sum(dataset.isnull())

In [ ]:
# # 4.   Exchange the positions of the **10th** and **11th** column with each other. Then output the header of the dataframes.

In [ ]:
cols = list(df.columns)
cols

In [ ]:
len(cols)

In [ ]:
new = cols[:9] 
len(new)

In [ ]:
col10 = cols[9]
col10

In [ ]:
col11 = cols[10]
col11

In [ ]:
new = cols[:9] + [col11] + [col10] + cols[11:]
new

In [ ]:
len(new)

In [ ]:
df = df[new]
df.head(1)

# # 5.   Change the name of "**VisitorType**" feature to "**new_VisitorType**".
#

In [ ]:
df.columns

In [ ]:
#help(df.rename)

In [ ]:
df = df.rename(columns={"VisitorType":"new_VisitorType"})
df.columns

# # 6.   Print out the row index of the cell with the highest **“ProductRelated_Duration”** value.

In [ ]:
df['ProductRelated_Duration'].head()

In [ ]:
df['ProductRelated_Duration'].max()

In [ ]:
print(df[df['ProductRelated_Duration'] == df['ProductRelated_Duration'].max()])

In [ ]:
df[df['ProductRelated_Duration'] == df['ProductRelated_Duration'].max()]

In [ ]:
df['ProductRelated_Duration'].sort_values(ascending=False).head(1)

In [ ]:
cond = df['ProductRelated_Duration'] == df['ProductRelated_Duration'].max()
cond

In [ ]:
df[cond].index

In [ ]:
list(df[cond].index)

In [ ]:
df[cond].index.to_list()

## 7.   Please remove the **“Informational”** feature from the dataset. Then output the header of the dataframe.

In [ ]:
df.head(3)

In [ ]:
h = df.drop(columns=['Informational'])
h.head(3)

In [ ]:
df.head(2)

In [ ]:
#alternativ

del df['Informational']
df.head(3)

## 8.   Print out the first and third quantile of **“PageValues”** feature.

In [ ]:
df['PageValues'].quantile(0.2)

In [ ]:
df['PageValues'].quantile(0.6)

In [ ]:
df['PageValues'].value_counts()

In [ ]:
df['PageValues'].dropna().quantile(0.6)

In [ ]:
df['PageValues'].quantile([0.2, 0.6])

In [ ]:
df['PageValues'].describe()

In [ ]:
df.describe().index

In [ ]:
df.describe()[df.describe().index == "25%"]

In [ ]:
print(df.describe()[df.describe().index == "25%"]['PageValues'])
print(df.describe()[df.describe().index == "75%"]['PageValues'])

## 9.   Output the number of missing values in each column.

In [ ]:
df.isnull().sum()

In [ ]:
len(df)

## 10.   From the dataset, filter every 250th row in the data for the features **“Month”**, **“ExitRates”** and **“SpecialDay”**, starting from row 0.

In [ ]:
frange = range(0,len(df), 249)
frange

In [ ]:
list(frange)

In [ ]:
cols = ['Month', 'ExitRates', 'SpecialDay']
cols

In [ ]:
df.iloc[frange, :]

In [ ]:
df.iloc[frange, :][cols]

In [ ]:
ds_length = len(df)
frequency = 249
loopies = ds_length/frequency
loopint = int(loopies)

for i in range(0, loopint):
  row = df.loc[i*frequency, ['Month', 'ExitRates', 'SpecialDay']]
  print(row)

## 11.   Scales and transfer the values of all of the numerical features in the range of 0 to 5, using min-max normalization method. Then output the first 10 lines of the dataframe.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3699 entries, 0 to 3698
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           3699 non-null   int64
 1   Administrative_Duration  3699 non-null   float64
 2   Informational            3699 non-null   int64
 3   Informational_Duration   3493 non-null   float64
 4   ProductRelated           3699 non-null   int64
 5   ProductRelated_Duration  3499 non-null   float64
 6   BounceRates              3528 non-null   float64
 7   ExitRates                3517 non-null   float64
 8   PageValues               3538 non-null   float64
 9   SpecialDay               3509 non-null   float64
 10  Month                    3699 non-null   object
 11  OperatingSystems         3699 non-null   int64
 12  Browser                  3699 non-null   int64
 13  Region                   3699 non-null   int64
 14  TrafficType              3699 non-null   int64
 15  VisitorType              3699 non-null   object
 16  Weekend                  3699 non-null   bool
 17  Revenue                  3699 non-null   bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 469.7+ KB

In [18]:
import numpy as np
df['Administrative'].dtype == np.int64

True

In [23]:
for col in df:
    if (df[col].dtype == np.int64 or df[col].dtype == np.float64):
        print(col)

Administrative
Administrative_Duration
Informational
Informational_Duration
ProductRelated
ProductRelated_Duration
BounceRates
ExitRates
PageValues
SpecialDay
OperatingSystems
Browser
Region
TrafficType

In [24]:
df['Administrative'].describe()

count    3699.000000
mean        2.366045
std         3.410066
min         0.000000
25%         0.000000
50%         1.000000
75%         4.000000
max        23.000000
Name: Administrative, dtype: float64

In [25]:
df['Administrative'].head()

0    1
1    2
2    3
3    1
4    5
Name: Administrative, dtype: int64

In [27]:
x = df['Administrative'] - 1
x.head()

0    0
1    1
2    2
3    0
4    4
Name: Administrative, dtype: int64

In [30]:
x = df['Administrative'] *2
x.head()

0    0.086957
1    0.173913
2    0.260870
3    0.086957
4    0.434783
Name: Administrative, dtype: float64

In [28]:
for col in df:
    if (df[col].dtype == np.int64 or df[col].dtype == np.float64):
        mn = df[col].min()
        mx = df[col].max()
        df[col] = (df[col]-mn)/(mx-mn)

In [29]:
df.head(10)

   Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems   Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0        0.043478                 0.009943         0.0000                     0.0        0.209091                 0.149491     0.033688   0.189426    0.065620         0.0   Nov          0.142857  0.083333   0.250     0.052632  Returning_Visitor     True    False
1        0.086957                 0.013195         0.0625                     0.0        0.259091                 0.173955     0.088496   0.212881    0.000000         0.0   Aug          0.142857  0.083333   0.125     0.000000  Returning_Visitor    False    False
2        0.130435                 0.066913         0.0000                     0.0        0.038636                 0.018261     0.166667   0.256173    0.000000         0.0   Dec          0.142857  0.083333   0.000     0.000000  Returning_Visitor     True    False
3        0.043478                 0.011932         0.0000                     0.0        0.097727                 0.050310     0.068182   0.128815         NaN         NaN   Nov          0.000000  0.000000   0.000     0.000000  Returning_Visitor    False    False
4        0.217391                 0.021768         0.0000                     0.0        0.302273                 0.123759     0.060390   0.146748    0.017619         0.0   Jul          0.000000  0.000000   0.000     0.157895  Returning_Visitor    False     True
5        0.000000                 0.000000         0.0000                     0.0        0.020455                 0.021352     0.333333   0.444444    0.000000         NaN   Mar          0.285714  0.083333   0.125     0.000000  Returning_Visitor    False    False
6        0.000000                 0.000000         0.0000                     0.0        0.006818                 0.003907     0.500000   0.500000    0.000000         0.0   May          0.285714  0.083333   0.625     0.631579  Returning_Visitor    False    False
7        0.130435                 0.051003         0.0000                     0.0        0.070455                 0.171502     0.000000   0.026042         NaN         NaN   Dec          0.285714  0.083333   0.000     0.473684  Returning_Visitor    False     True
8        0.217391                 0.046324         0.0000                     0.0        0.079545                 0.031532     0.000000        NaN    0.026529         NaN   May          0.142857  0.083333   0.000     0.157895  Returning_Visitor    False    False
9        0.173913                 0.030181         0.0000                     0.0        0.063636                 0.046904     0.068966   0.122742    0.000000         0.0   May          0.142857  0.083333   0.000     0.315789  Returning_Visitor     True    False

### Musterlösung

In [32]:
import numpy as np
from sklearn import preprocessing

float_arr = df.select_dtypes(include = np.number).values.astype(float)
min_max_scale = preprocessing.MinMaxScaler()
scaled = min_max_scale.fit_transform(float_arr)
min_max_scaled_df = pd.DataFrame(scaled)
min_max_scaled_df.head()

         0         1       2    3         4         5         6         7         8    9         10        11     12        13
0  0.043478  0.009943  0.0000  0.0  0.209091  0.149491  0.033688  0.189426  0.065620  0.0  0.142857  0.083333  0.250  0.052632
1  0.086957  0.013195  0.0625  0.0  0.259091  0.173955  0.088496  0.212881  0.000000  0.0  0.142857  0.083333  0.125  0.000000
2  0.130435  0.066913  0.0000  0.0  0.038636  0.018261  0.166667  0.256173  0.000000  0.0  0.142857  0.083333  0.000  0.000000
3  0.043478  0.011932  0.0000  0.0  0.097727  0.050310  0.068182  0.128815       NaN  NaN  0.000000  0.000000  0.000  0.000000
4  0.217391  0.021768  0.0000  0.0  0.302273  0.123759  0.060390  0.146748  0.017619  0.0  0.000000  0.000000  0.000  0.157895

## 12.   Print out the head name and variance of the numerical feature with highest variance

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3699 entries, 0 to 3698
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           3699 non-null   float64
 1   Administrative_Duration  3699 non-null   float64
 2   Informational            3699 non-null   float64
 3   Informational_Duration   3493 non-null   float64
 4   ProductRelated           3699 non-null   float64
 5   ProductRelated_Duration  3499 non-null   float64
 6   BounceRates              3528 non-null   float64
 7   ExitRates                3517 non-null   float64
 8   PageValues               3538 non-null   float64
 9   SpecialDay               3509 non-null   float64
 10  Month                    3699 non-null   object
 11  OperatingSystems         3699 non-null   float64
 12  Browser                  3699 non-null   float64
 13  Region                   3699 non-null   float64
 14  TrafficType              3699 non-null   float64
 15  VisitorType              3699 non-null   object
 16  Weekend                  3699 non-null   bool
 17  Revenue                  3699 non-null   bool
dtypes: bool(2), float64(14), object(2)
memory usage: 469.7+ KB

In [35]:
v = df.var()
v

Administrative             0.021982
Administrative_Duration    0.006366
Informational              0.006462
Informational_Duration     0.004884
ProductRelated             0.009850
ProductRelated_Duration    0.009247
BounceRates                0.059067
ExitRates                  0.058493
PageValues                 0.002885
SpecialDay                 0.042701
OperatingSystems           0.017634
Browser                    0.019301
Region                     0.088783
TrafficType                0.045239
Weekend                    0.178055
Revenue                    0.136297
dtype: float64

In [36]:
v.max()

0.17805478831561186

In [40]:
type(v)

pandas.core.series.Series

In [41]:
cond = v == v.max()
cond

Administrative             False
Administrative_Duration    False
Informational              False
Informational_Duration     False
ProductRelated             False
ProductRelated_Duration    False
BounceRates                False
ExitRates                  False
PageValues                 False
SpecialDay                 False
OperatingSystems           False
Browser                    False
Region                     False
TrafficType                False
Weekend                     True
Revenue                    False
dtype: bool

In [46]:
v[cond].index.to_list()

['Weekend']

In [47]:
list(v[cond].index)[0]

'Weekend'

In [51]:
idx = list(v[cond].index)[0]
idx

'Weekend'

In [52]:
print(idx, v.loc[idx])

Weekend 0.17805478831561186

### Musterlösung

In [53]:
dataset = df
print(dataset.var().max())
print(dataset.var())

0.17805478831561186
Administrative             0.021982
Administrative_Duration    0.006366
Informational              0.006462
Informational_Duration     0.004884
ProductRelated             0.009850
ProductRelated_Duration    0.009247
BounceRates                0.059067
ExitRates                  0.058493
PageValues                 0.002885
SpecialDay                 0.042701
OperatingSystems           0.017634
Browser                    0.019301
Region                     0.088783
TrafficType                0.045239
Weekend                    0.178055
Revenue                    0.136297
dtype: float64

## 13.   Use the “apply” function (or an equivalent function) to replace missing values in the columns "**Informational_Duration**" and "**ProductRelated_Duration**" with the **mean value** of the respective  attribute.

In [56]:
df[["Informational_Duration", "ProductRelated_Duration"]].head(3)

   Informational_Duration  ProductRelated_Duration
0                     0.0                 0.149491
1                     0.0                 0.173955
2                     0.0                 0.018261

In [57]:
df[["Informational_Duration", "ProductRelated_Duration"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3699 entries, 0 to 3698
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Informational_Duration   3493 non-null   float64
 1   ProductRelated_Duration  3499 non-null   float64
dtypes: float64(2)
memory usage: 57.9 KB

In [58]:
mi = df["Informational_Duration"].mean()
mi

0.01730876350971753

In [59]:
df["Informational_Duration"].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
3694    False
3695    False
3696    False
3697    False
3698     True
Name: Informational_Duration, Length: 3699, dtype: bool

In [61]:
df["Informational_Duration"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
3694    False
3695    False
3696    False
3697    False
3698     True
Name: Informational_Duration, Length: 3699, dtype: bool

In [63]:
c = df["Informational_Duration"].isna()
df[c]

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems   Browser  Region  TrafficType        VisitorType  Weekend  Revenue
10          0.000000                 0.000000         0.0000                     NaN        0.006818                 0.004402     0.833333   0.888889    0.000000         0.0   Nov          0.000000  0.000000   0.625     0.000000  Returning_Visitor    False    False
14          0.000000                 0.000000         0.0000                     NaN        0.120455                 0.036400     0.003774   0.032640    0.000000         0.0   Nov          0.285714  0.083333   0.000     0.526316  Returning_Visitor     True    False
22          0.086957                 0.015675         0.0000                     NaN        0.052273                 0.021924     0.000000   0.086957    0.000000         0.0   Dec          0.142857  0.083333   0.250     0.263158  Returning_Visitor    False    False
25          0.000000                 0.000000         0.0000                     NaN        0.000000                 0.000000     1.000000   1.000000    0.000000         0.0   May          0.142857  0.083333   0.875     0.105263  Returning_Visitor    False    False
46          0.478261                 0.125013         0.0000                     NaN        0.088636                 0.048506     0.020833   0.057292    0.055610         0.0   Mar          0.142857  0.083333   0.250     0.000000        New_Visitor    False    False
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...         ...   ...               ...       ...     ...          ...                ...      ...      ...
3572        0.086957                 0.266247         0.0625                     NaN        0.052273                      NaN     0.000000   0.040000    0.025795         0.0   Dec          0.142857  0.083333   0.375     0.052632        New_Visitor    False     True
3599        0.043478                 0.045388         0.0000                     NaN        0.009091                 0.003247     0.000000   0.066667    0.000000         0.0   May          0.142857  0.083333   0.625     0.263158        New_Visitor    False    False
3620        0.391304                 0.101179         0.0625                     NaN        0.704545                 0.466016     0.014107   0.062071         NaN         0.0   Sep          0.142857  0.750000   0.250     0.052632  Returning_Visitor     True    False
3633        0.000000                 0.000000         0.0000                     NaN        0.025000                 0.012134     0.136364   0.363636    0.000000         0.0   Dec          0.285714  0.083333   0.750     0.000000  Returning_Visitor     True    False
3698        0.000000                 0.000000         0.0000                     NaN        0.006818                 0.004017     0.000000   0.333333    0.000000         0.0   Mar          0.142857  0.250000   0.000     0.315789  Returning_Visitor    False    False

[206 rows x 18 columns]

In [62]:
df["Informational_Duration"] == np.nan

0       False
1       False
2       False
3       False
4       False
        ...
3694    False
3695    False
3696    False
3697    False
3698    False
Name: Informational_Duration, Length: 3699, dtype: bool

In [65]:
df["Informational_Duration"] =  df["Informational_Duration"].fillna(mi)

In [67]:
df["Informational_Duration"].head(11)

0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.017309
Name: Informational_Duration, dtype: float64

In [68]:
mp = df["ProductRelated_Duration"].mean()
mp

0.06749427408211497

In [69]:
df["ProductRelated_Duration"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
3694    False
3695    False
3696    False
3697    False
3698    False
Name: ProductRelated_Duration, Length: 3699, dtype: bool

In [71]:
c1 = df["ProductRelated_Duration"].isna()
df[c1]

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems   Browser  Region  TrafficType        VisitorType  Weekend  Revenue
17          0.000000                 0.000000         0.0000                0.000000        0.009091                      NaN          NaN   0.333333    0.000000         0.0   Dec          0.285714  0.083333   0.250     1.000000  Returning_Visitor     True    False
21          0.260870                 0.019029         0.0000                0.000000        0.111364                      NaN     0.000000   0.038462    0.011811         0.0   May          0.142857  0.083333   0.000     0.052632  Returning_Visitor     True    False
65          0.173913                 0.020355         0.0000                0.000000        0.088636                      NaN     0.005952        NaN    0.000000         0.0   Mar          0.428571  0.333333   0.000     0.105263  Returning_Visitor     True    False
77          0.000000                 0.000000         0.0000                0.000000        0.018182                      NaN     0.125000   0.250000    0.000000         0.4   May          0.142857  0.083333   0.000     0.157895  Returning_Visitor    False    False
80          0.173913                 0.026671         0.0000                0.000000        0.011364                      NaN     0.000000   0.125000    0.000000         0.0   Mar          0.000000  0.000000   0.875     0.473684  Returning_Visitor    False    False
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...         ...   ...               ...       ...     ...          ...                ...      ...      ...
3664        0.173913                 0.028075         0.1875                0.017234        0.047727                      NaN     0.000000   0.040000    0.112575         0.0   Dec          0.000000  0.000000   0.000     0.052632        New_Visitor    False     True
3674        0.000000                 0.000000         0.0000                0.000000        0.002273                      NaN     1.000000   1.000000    0.000000         0.0   May          0.285714  0.166667   0.000     0.105263  Returning_Visitor    False    False
3685        0.173913                 0.103411         0.0000                0.000000        0.034091                      NaN     0.000000   0.153846    0.000000         0.0   May          0.142857  0.083333   0.625     0.052632  Returning_Visitor    False    False
3692        0.000000                 0.000000         0.0000                0.000000        0.065909                      NaN     0.051724   0.109195         NaN         0.0   Oct          0.285714  0.083333   0.000     0.631579  Returning_Visitor    False    False
3693        0.086957                 0.035117         0.0000                0.000000        0.240909                      NaN     0.098558   0.195032    0.012396         0.0   Aug          0.285714  0.083333   0.000     0.000000  Returning_Visitor    False    False

[200 rows x 18 columns]

In [73]:
df.head(18)

    Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems   Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0         0.043478                 0.009943         0.0000                0.000000        0.209091                 0.149491     0.033688   0.189426    0.065620         0.0   Nov          0.142857  0.083333   0.250     0.052632  Returning_Visitor     True    False
1         0.086957                 0.013195         0.0625                0.000000        0.259091                 0.173955     0.088496   0.212881    0.000000         0.0   Aug          0.142857  0.083333   0.125     0.000000  Returning_Visitor    False    False
2         0.130435                 0.066913         0.0000                0.000000        0.038636                 0.018261     0.166667   0.256173    0.000000         0.0   Dec          0.142857  0.083333   0.000     0.000000  Returning_Visitor     True    False
3         0.043478                 0.011932         0.0000                0.000000        0.097727                 0.050310     0.068182   0.128815         NaN         NaN   Nov          0.000000  0.000000   0.000     0.000000  Returning_Visitor    False    False
4         0.217391                 0.021768         0.0000                0.000000        0.302273                 0.123759     0.060390   0.146748    0.017619         0.0   Jul          0.000000  0.000000   0.000     0.157895  Returning_Visitor    False     True
5         0.000000                 0.000000         0.0000                0.000000        0.020455                 0.021352     0.333333   0.444444    0.000000         NaN   Mar          0.285714  0.083333   0.125     0.000000  Returning_Visitor    False    False
6         0.000000                 0.000000         0.0000                0.000000        0.006818                 0.003907     0.500000   0.500000    0.000000         0.0   May          0.285714  0.083333   0.625     0.631579  Returning_Visitor    False    False
7         0.130435                 0.051003         0.0000                0.000000        0.070455                 0.171502     0.000000   0.026042         NaN         NaN   Dec          0.285714  0.083333   0.000     0.473684  Returning_Visitor    False     True
8         0.217391                 0.046324         0.0000                0.000000        0.079545                 0.031532     0.000000        NaN    0.026529         NaN   May          0.142857  0.083333   0.000     0.157895  Returning_Visitor    False    False
9         0.173913                 0.030181         0.0000                0.000000        0.063636                 0.046904     0.068966   0.122742    0.000000         0.0   May          0.142857  0.083333   0.000     0.315789  Returning_Visitor     True    False
10        0.000000                 0.000000         0.0000                0.017309        0.006818                 0.004402     0.833333   0.888889    0.000000         0.0   Nov          0.000000  0.000000   0.625     0.000000  Returning_Visitor    False    False
11        0.043478                 0.002340         0.1250                0.030292        0.145455                 0.094464     0.060606   0.097222    0.000000         0.0   Nov          0.428571  0.083333   0.000     0.052632  Returning_Visitor     True    False
12        0.000000                 0.000000         0.0000                0.000000        0.050000                 0.136104     0.045455   0.066919    0.000000         0.0   May          0.285714  0.083333   0.250     0.052632  Returning_Visitor    False    False
13        0.000000                 0.000000         0.1250                0.034164        0.031818                 0.024342     0.000000   0.171875    0.000000         0.8   Feb          0.000000  0.000000   0.250     0.105263  Returning_Visitor    False    False
14        0.000000                 0.000000         0.0000                0.017309        0.120455                 0.036400     0.003774   0.032640    0.000000         0.0   Nov          0.285714  0.083333   0.000     0.526316  Returning_Visitor     True    False
15        0.173913                 0.034392         0.0000                0.000000        0.054545                 0.036511     0.012821   0.021978    0.000000         0.0   Mar          0.285714  0.083333   0.000     0.000000  Returning_Visitor    False    False
16        0.217391                 0.129988         0.0000                0.000000        0.056818                 0.048674     0.000000   0.017857    0.020678         0.0   Jul          0.142857  0.750000   0.125     0.052632        New_Visitor     True     True
17        0.000000                 0.000000         0.0000                0.000000        0.009091                      NaN          NaN   0.333333    0.000000         0.0   Dec          0.285714  0.083333   0.250     1.000000  Returning_Visitor     True    False

In [74]:
df["ProductRelated_Duration"].fillna(mp).head(18)

0     0.149491
1     0.173955
2     0.018261
3     0.050310
4     0.123759
5     0.021352
6     0.003907
7     0.171502
8     0.031532
9     0.046904
10    0.004402
11    0.094464
12    0.136104
13    0.024342
14    0.036400
15    0.036511
16    0.048674
17    0.067494
Name: ProductRelated_Duration, dtype: float64

### Apply Besipiele aus Pandas doku

 DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)[source]

    Apply a function along an axis of the DataFrame.

    Objects passed to the function are Series objects whose index is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1). By default (result_type=None), the final return type is inferred from the return type of the applied function. Otherwise, it depends on the result_type argument.

In [75]:
df1 = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

df1

   A  B
0  4  9
1  4  9
2  4  9

In [77]:
[[4, 9]] * 3

[[4, 9], [4, 9], [4, 9]]

In [78]:
df1.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [80]:
df1.apply(np.sqrt, axis=0)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [82]:
df1

   A  B
0  4  9
1  4  9
2  4  9

In [81]:
df1.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [83]:
df1.apply(np.sum, axis=1)

0    13
1    13
2    13
dtype: int64

In [84]:
df1.apply(lambda x: x + 1, axis=0)

   A   B
0  5  10
1  5  10
2  5  10

In [87]:
df1['A'].apply(lambda x: x + 1)

0    5
1    5
2    5
Name: A, dtype: int64

### applymap Beispiele aus pandas Doku

ataFrame.applymap(func, na_action=None, **kwargs)[source]

    Apply a function to a Dataframe elementwise.

    This method applies a function that accepts and returns a scalar to every element of a DataFrame.

In [94]:
df2 = pd.DataFrame([[1, 2.12], [3.356, 4.567]])

df2

       0      1
0  1.000  2.120
1  3.356  4.567

In [95]:
df2.applymap(lambda x: len(str(x)))

   0  1
0  3  4
1  5  5

In [96]:
#Like Series.map, NA values can be ignored:
df_copy = df2.copy()
df_copy.iloc[0, 0] = pd.NA

df_copy

       0      1
0   <NA>  2.120
1  3.356  4.567

In [97]:
df_copy.applymap(lambda x: len(str(x)), na_action='ignore')

      0  1
0  <NA>  4
1     5  5

Note that a vectorized version of func often exists, which will be much faster. You could square each number elementwise.

In [98]:
df2.applymap(lambda x: x**2)

           0          1
0   1.000000   4.494400
1  11.262736  20.857489

But it’s better to avoid applymap in that case.

In [99]:
df2 ** 2

           0          1
0   1.000000   4.494400
1  11.262736  20.857489