In [1]:
import pandas as pd
pd.set_option('display.max_columns', 25)
pd.set_option('display.width', 1000)

#url = "https://raw.githubusercontent.com/AIDATestsecond/dataset/master/Dataset_423237.csv"
# führt in Chrome zu URLError: <urlopen error [Errno 11002] getaddrinfo failed>
# deshalb csv per firefox lokal gespeichert

import os
pfad = r"C:\Users\A1150567\AppData\Local\WPy64-3940\notebooks\GDA\GDA"
csv_dat = "Dataset_423237.csv"
csv = os.path.join(pfad, csv_dat)
df = pd.read_csv(csv)
#print (dataset)
df.head()

   Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0               1                    21.25              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False
1               2                    28.20              1                     0.0             114              3161.074762     0.017699   0.042576    0.000000         0.0   Aug                 2        2       2            1  Returning_Visitor    False    False
2               3                   143.00              0                     0.0              17               331.837500     0.033333   0.051235    0.000000         0.0   Dec                 2        2       1            1  Returning_Visitor     True    False
3               1                    25.50              0                     0.0              43               914.229437     0.013636   0.025763         NaN         NaN   Nov                 1        1       1            1  Returning_Visitor    False    False
4               5                    46.52              0                     0.0             133              2248.914286     0.012078   0.029350    6.373771         0.0   Jul                 1        1       1            4  Returning_Visitor    False     True

In [2]:
print(df.columns.values)

['Administrative' 'Administrative_Duration' 'Informational'
 'Informational_Duration' 'ProductRelated' 'ProductRelated_Duration'
 'BounceRates' 'ExitRates' 'PageValues' 'SpecialDay' 'Month'
 'OperatingSystems' 'Browser' 'Region' 'TrafficType' 'VisitorType'
 'Weekend' 'Revenue']

In [3]:
df.head(1)

   Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0               1                    21.25              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False

In [4]:
print(df.tail(1))

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
3698               0                      0.0              0                     NaN               3                     73.0          0.0   0.066667         0.0         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

In [5]:
df.tail()

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
3694               3                65.928571              0                     0.0              17               557.686905     0.000000   0.009804         NaN         0.0   Dec                 2        2       2            2  Returning_Visitor    False     True
3695               0                 0.000000              0                     0.0              52              2086.242857     0.015385   0.020353         0.0         0.0   Feb                 2        2       7            1  Returning_Visitor    False    False
3696               1                63.500000              0                     0.0               7                58.900000     0.000000   0.025000         0.0         0.0   Dec                 1        1       2            2        New_Visitor    False    False
3697               6                90.100000              0                     0.0              35               643.050000     0.000000   0.015789         0.0         0.0   Oct                 1        1       3            4  Returning_Visitor     True    False
3698               0                 0.000000              0                     NaN               3                73.000000     0.000000   0.066667         0.0         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

In [6]:
df.shape

(3699, 18)

In [7]:
df.iloc[[0, -1], :]

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0                  1                    21.25              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False
3698               0                     0.00              0                     NaN               3                73.000000     0.000000   0.066667    0.000000         0.0   Mar                 2        4       1            7  Returning_Visitor    False    False

In [8]:
any(df.isna())

True

In [9]:
df.isnull()

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay  Month  OperatingSystems  Browser  Region  TrafficType  VisitorType  Weekend  Revenue
0              False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
1              False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
2              False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
3              False                    False          False                   False           False                    False        False      False        True        True  False             False    False   False        False        False    False    False
4              False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...         ...    ...               ...      ...     ...          ...          ...      ...      ...
3694           False                    False          False                   False           False                    False        False      False        True       False  False             False    False   False        False        False    False    False
3695           False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
3696           False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
3697           False                    False          False                   False           False                    False        False      False       False       False  False             False    False   False        False        False    False    False
3698           False                    False          False                    True           False                    False        False      False       False       False  False             False    False   False        False        False    False    False

[3699 rows x 18 columns]

In [10]:
df[df.isnull()]

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType VisitorType  Weekend  Revenue
0                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
1                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
2                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
4                NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
...              ...                      ...            ...                     ...             ...                      ...          ...        ...         ...         ...   ...               ...      ...     ...          ...         ...      ...      ...
3694             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3695             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3696             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3697             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN
3698             NaN                      NaN            NaN                     NaN             NaN                      NaN          NaN        NaN         NaN         NaN   NaN               NaN      NaN     NaN          NaN         NaN      NaN      NaN

[3699 rows x 18 columns]

In [11]:
df[df.isnull()].shape

(3699, 18)

In [12]:
type(df.isnull())

pandas.core.frame.DataFrame

In [13]:
dataset.isnull()

NameError: name 'dataset' is not defined

In [ ]:
dataset.isnull().sum()

In [ ]:
import numpy as np
np.sum(dataset.isnull())

In [ ]:
# # 4.   Exchange the positions of the **10th** and **11th** column with each other. Then output the header of the dataframes.

In [ ]:
cols = list(df.columns)
cols

In [ ]:
len(cols)

In [ ]:
new = cols[:9] 
len(new)

In [ ]:
col10 = cols[9]
col10

In [ ]:
col11 = cols[10]
col11

In [ ]:
new = cols[:9] + [col11] + [col10] + cols[11:]
new

In [ ]:
len(new)

In [ ]:
df = df[new]
df.head(1)

# # 5.   Change the name of "**VisitorType**" feature to "**new_VisitorType**".
#

In [ ]:
df.columns

In [ ]:
#help(df.rename)

In [ ]:
df = df.rename(columns={"VisitorType":"new_VisitorType"})
df.columns

# # 6.   Print out the row index of the cell with the highest **“ProductRelated_Duration”** value.

In [ ]:
df['ProductRelated_Duration'].head()

In [ ]:
df['ProductRelated_Duration'].max()

In [ ]:
print(df[df['ProductRelated_Duration'] == df['ProductRelated_Duration'].max()])

In [ ]:
df[df['ProductRelated_Duration'] == df['ProductRelated_Duration'].max()]

In [ ]:
df['ProductRelated_Duration'].sort_values(ascending=False).head(1)

In [ ]:
cond = df['ProductRelated_Duration'] == df['ProductRelated_Duration'].max()
cond

In [ ]:
df[cond].index

In [ ]:
list(df[cond].index)

In [ ]:
df[cond].index.to_list()

## 7.   Please remove the **“Informational”** feature from the dataset. Then output the header of the dataframe.

In [ ]:
df.head(3)

In [ ]:
h = df.drop(columns=['Informational'])
h.head(3)

In [ ]:
df.head(2)

In [ ]:
#alternativ

del df['Informational']
df.head(3)

## 8.   Print out the first and third quantile of **“PageValues”** feature.

In [ ]:
df['PageValues'].quantile(0.2)

In [ ]:
df['PageValues'].quantile(0.6)

In [ ]:
df['PageValues'].value_counts()

In [ ]:
df['PageValues'].dropna().quantile(0.6)

In [ ]:
df['PageValues'].quantile([0.2, 0.6])

In [ ]:
df['PageValues'].describe()

In [19]:
df.describe().index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [20]:
df.describe()[df.describe().index == "25%"]

     Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay  OperatingSystems  Browser  Region  TrafficType
25%             0.0                      0.0            0.0                     0.0             8.0               190.479167          0.0   0.014286         0.0         0.0               2.0      2.0     1.0          2.0

In [17]:
print(df.describe()[df.describe().index == "25%"]['PageValues'])
print(df.describe()[df.describe().index == "75%"]['PageValues'])

25%    0.0
Name: PageValues, dtype: float64
75%    0.0
Name: PageValues, dtype: float64

## 9.   Output the number of missing values in each column.

In [14]:
df.isnull().sum()

Administrative               0
Administrative_Duration      0
Informational                0
Informational_Duration     206
ProductRelated               0
ProductRelated_Duration    200
BounceRates                171
ExitRates                  182
PageValues                 161
SpecialDay                 190
Month                        0
OperatingSystems             0
Browser                      0
Region                       0
TrafficType                  0
VisitorType                  0
Weekend                      0
Revenue                      0
dtype: int64

In [21]:
len(df)

3699

## 10.   From the dataset, filter every 250th row in the data for the features **“Month”**, **“ExitRates”** and **“SpecialDay”**, starting from row 0.

In [32]:
frange = range(0,len(df), 249)
frange

range(0, 3699, 249)

In [33]:
list(frange)

[0,
 249,
 498,
 747,
 996,
 1245,
 1494,
 1743,
 1992,
 2241,
 2490,
 2739,
 2988,
 3237,
 3486]

In [34]:
cols = ['Month', 'ExitRates', 'SpecialDay']
cols

['Month', 'ExitRates', 'SpecialDay']

In [35]:
df.iloc[frange, :]

      Administrative  Administrative_Duration  Informational  Informational_Duration  ProductRelated  ProductRelated_Duration  BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0                  1                21.250000              0                     0.0              92              2716.519048     0.006738   0.037885   23.738911         0.0   Nov                 2        2       3            2  Returning_Visitor     True    False
249                0                 0.000000              0                     0.0              53               952.159820     0.015839   0.037802    0.000000         0.0   Jul                 3        2       8            1  Returning_Visitor     True    False
498                2                56.400000              1                     0.0              72              2101.467925     0.006140   0.029987    0.000000         0.0   Aug                 1        1       2            2  Returning_Visitor    False    False
747                9               160.000000              0                     0.0              48              3946.008333     0.007273   0.011515   20.323881         0.0   Mar                 2        6       1            8  Returning_Visitor     True     True
996                2                67.500000              0                     0.0              11               294.000000     0.000000   0.009091    0.000000         NaN   Dec                 1        1       3            8  Returning_Visitor     True    False
1245               6                72.040000              2                   206.6              24               709.433333     0.007143   0.016667   15.709429         0.0   Aug                 2        2       2            2  Returning_Visitor    False     True
1494               0                 0.000000              0                     0.0               5                41.000000     0.040000   0.080000    0.000000         0.0   Dec                 2        5       1            1  Returning_Visitor    False    False
1743               0                 0.000000              0                     0.0              15               455.500000     0.000000        NaN    0.000000         0.0   May                 2       10       3            2        New_Visitor    False    False
1992              10               164.500000              1                     3.0              61              2292.679762     0.000000        NaN    0.000000         0.0   Mar                 2        2       1            1  Returning_Visitor    False    False
2241               9               122.000000              1                    87.0              50              1694.797619     0.008929   0.018155    0.000000         0.0   Mar                 1        1       1            3  Returning_Visitor     True    False
2490               4                43.000000              0                     0.0              66              2544.053571     0.000000   0.015920   62.405762         0.0   Nov                 4        1       2            2  Returning_Visitor    False    False
2739              17               626.493333              0                     0.0              76              1985.894203     0.015630   0.031102    0.000000         0.0   Oct                 2        2       1            1  Returning_Visitor    False    False
2988               2                49.800000              0                     0.0              41               857.266667     0.012195   0.024274    5.850665         0.0   Nov                 2        2       1            1  Returning_Visitor    False    False
3237               5                73.800000              0                     0.0               5                82.500000          NaN   0.028571         NaN         0.0   Aug                 2        5       6            5        New_Visitor    False    False
3486               0                 0.000000              0                     0.0               9                83.000000     0.044444        NaN    0.000000         0.6   May                 2        2       1            2  Returning_Visitor    False    False

In [36]:
df.iloc[frange, :][cols]

     Month  ExitRates  SpecialDay
0      Nov   0.037885         0.0
249    Jul   0.037802         0.0
498    Aug   0.029987         0.0
747    Mar   0.011515         0.0
996    Dec   0.009091         NaN
1245   Aug   0.016667         0.0
1494   Dec   0.080000         0.0
1743   May        NaN         0.0
1992   Mar        NaN         0.0
2241   Mar   0.018155         0.0
2490   Nov   0.015920         0.0
2739   Oct   0.031102         0.0
2988   Nov   0.024274         0.0
3237   Aug   0.028571         0.0
3486   May        NaN         0.6

In [38]:
ds_length = len(df)
frequency = 249
loopies = ds_length/frequency
loopint = int(loopies)

for i in range(0, loopint):
  row = df.loc[i*frequency, ['Month', 'ExitRates', 'SpecialDay']]
  print(row)

Month              Nov
ExitRates     0.037885
SpecialDay         0.0
Name: 0, dtype: object
Month              Jul
ExitRates     0.037802
SpecialDay         0.0
Name: 249, dtype: object
Month              Aug
ExitRates     0.029987
SpecialDay         0.0
Name: 498, dtype: object
Month              Mar
ExitRates     0.011515
SpecialDay         0.0
Name: 747, dtype: object
Month              Dec
ExitRates     0.009091
SpecialDay         NaN
Name: 996, dtype: object
Month              Aug
ExitRates     0.016667
SpecialDay         0.0
Name: 1245, dtype: object
Month          Dec
ExitRates     0.08
SpecialDay     0.0
Name: 1494, dtype: object
Month         May
ExitRates     NaN
SpecialDay    0.0
Name: 1743, dtype: object
Month         Mar
ExitRates     NaN
SpecialDay    0.0
Name: 1992, dtype: object
Month              Mar
ExitRates     0.018155
SpecialDay         0.0
Name: 2241, dtype: object
Month             Nov
ExitRates     0.01592
SpecialDay        0.0
Name: 2490, dtype: object
Month              Oct
ExitRates     0.031102
SpecialDay         0.0
Name: 2739, dtype: object
Month              Nov
ExitRates     0.024274
SpecialDay         0.0
Name: 2988, dtype: object
Month              Aug
ExitRates     0.028571
SpecialDay         0.0
Name: 3237, dtype: object